<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TP Heroes</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1>Heroes</h1>
	<ul>
		<li><a href="/babbage" title="Babbage"><img src="/img/babbage.jpg" alt="Babbage" title="Babbage"></a></li>
		<li><a href="/berners-lee" title="Berners Lee"><img src="/img/berners-lee.jpg" alt="Berners Lee" title="Berners Lee"></a></li>
		<li><a href="/clarke" title="Clarke"><img src="/img/clarke.jpg" alt="Clarke" title="Clarke"></a></li>
		<li><a href="/hamilton" title="Hamilton"><img src="/img/hamilton.jpg" alt="Hamilton" title="Hamilton"></a></li>
		<li><a href="/hopper" title="Hopper"><img src="/img/hopper.jpg" alt="Hopper" title="Hopper"></a></li>
		<li><a href="/lovelace" title="Lovelace"><img src="/img/lovelace.jpg" alt="Lovelace" title="Lovelace"></a></li>
		<li><a href="/turing" title="Turing"><img src="/img/turing.webp" alt="Turing" title="Turing"></a></li>
	</ul>
</body>
</html>