<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TP Heroes</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1>Heroes</h1>
	<p><a href="/" title="Página principal">/</a></p>
	<p><a href="/babbage" title="Babbage">/babbage</a></p>
	<p><a href="/berners-lee" title="Berners Lee">/berners-lee</a></p>
	<p><a href="/clarke" title="Clarke">/clarke</a></p>
	<p><a href="/hamilton" title="Hamilton">/hamilton</a></p>
	<p><a href="/hopper" title="Hopper">/hopper</a></p>
	<p><a href="/lovelace" title="Lovelace">/lovelace</a></p>
	<p><a href="/turing" title="Turing">/turing</a></p>
</body>
</html>